*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1E3D6;
}

.signUpBorder{
    width: 400px;
    height: 520px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px lightgray;
    background-color: white;
}

.bacground-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}